<%= form_for([micropost, Comment.new], remote: true) do |f| %>
  <div class="form-group">
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: 'Comment....' %>
  </div>
  <%= f.submit "Add Comment", class: "btn btn-primary btn-sm" %>
<% end %>
